[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
prefect = "*"
mlflow = "==2.3"
scikit-learn = "==1.2.2"
pandas = "*"
boto3 = "*"
pyarrow = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.6"
